<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>React Start</title>
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>

    <body>
        <div id="root"></div>
        <script type="text/babel">

            const {useState, useEffect} = React;

            function TabControl2({ index = 0, children, ... restProps }) {
                const display = (children && 
                    (Array.isArray(children)? children[index]: children)) ||
                    null;
                return (<>
                    <div {...restProps}>
                        {display || null}
                    </div>
                </>);
            }

            function TabControl({ index = 0, children, ...attribs }) {
                let display = null;
                if (children) {
                    if (Array.isArray(children)) {
                        display = children[index] || null;
                    } else {
                        display = children;
                    }
                }
                return (<>
                    <div {...attribs}>
                        {display}
                    </div>
                </>);
            }

            function TestTab() {
                const [index, setIndex] = useState(0);
                const style = {
                    border: '1px solid black',
                    padding: '10px',
                    margin: '10px'
                };
                return (<>
                    <div>
                        <button onClick={() => setIndex(0)}>1</button>
                        <button onClick={() => setIndex(1)}>2</button>
                        <button onClick={() => setIndex(2)}>3</button>
                        <button onClick={() => setIndex(3)}>4</button>
                    </div>
                    <TabControl index={index} style={style}>
                        <div>Tab 1</div>
                        <div>Tab 2</div>
                        <div>Tab 3</div>
                        <div>Tab 4</div>
                    </TabControl>
                    <TabControl2 index={index} style={style}/>
                    </>);
            }

            function MyApp() {
                return (<>
                    <div>Click button to switch tabs:</div>
                    <TestTab />
                </>);
            }

            const container = document.getElementById('root');
            const root = ReactDOM.createRoot(container);
            root.render(<React.StrictMode><MyApp /></React.StrictMode>);

        </script>
    </body>

</html>


